<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
<div>
    <h1>Home Page</h1><br>
    <h2>Follow Link and Proceed To Search Drop Down Button</h2>
    <button><a id="line" href="/searchDropDown">Next Page</a></button>
</div>   
</body>
<%- include('./partials/footer.ejs') %> 
</html>