<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="nodata content">
            <h1>No Results Found</h1>
            
        </div>
        <button><a class="example" href="/search">Back to menu</a></button>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>