<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="lost content">
      <h1>AVL Binary Search Tree</h1><br>
      <div class="dropdown">
          <button class="dropbtn">AVL Input</button>
          <div class="dropdown-content"> 

             <a id="line" href="/search">Input Numbers</a>
                 
          </div>
                  
        </div><br><br>
      <div><button><a id="line" href="/">Home Page</a></button> </div>  
    <br><br>
    
</div>
  </body>
 
  <%- include('./partials/footer.ejs') %>
  
</html>
