<nav>
    <div >
    <img id="six" src="/images/bst.png">
    </div>
    <div><h2>Self Balancing AVL Binary Search Tree</h2></div>
    <div > 
    <img id="seven" src="/images/avltree.png">
    </div>
</nav>